
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/HomeLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding-top:50px;padding-bottom: 150px">
            <form method="post" onsubmit="Validate()">
                <div class="form-group">
                    <label for="exampleInputEmail1"><h6 class="mb-2" style="text-align: left; color: black">Email</h6></label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1"><h6 class="mb-2" style="text-align: left; color: black">Password</h6></label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  
                </div>
                <button type="submit" value="Login" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

